### Analysis of Ar39 aggregation (multiple event over the same time window)
In this notebook, we analyse the result of aggregation of multiple Ar39 events over the same time window.
Parameters:
- Integration time `Dt=4ns`, according to the FlashADC frequency
- Time window `T=100ns`, as overestimation of most of muon background. Note: this is just an example, we should consider `T` w.r.t. the events we are looking for (*i.e. Ar41 de-excitations occur in which tau?*)
- Number of multiple Ar39 `Grp=1,2,3,4`. More than this number present a negligible probability.

In [2]:
import os, numpy as np, pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [25, 15]
plt.rcParams.update({'font.size': 18})

In [3]:
# Aggregation of 4 Ar39 decays for each snapshot
dirin = os.path.join("..", "Development", "Out")
filename = "Ar39_Snapshots_T100_DT4_Grp4_Seed123456789.csv"

colnames = ["eventnumber", "energydeposition", "pedetected"]
for i in range(72):
    colnames.append("slice{}".format(i))
df = pd.read_csv(os.path.join(dirin, filename), comment='#', names=colnames, index_col=False)

In [12]:
cum_edeps = df.groupby("eventnumber").energydeposition.sum()
cum_edeps.describe()

count    172991.000000
mean        872.160039
std         256.799432
min          71.847700
25%         690.923800
50%         867.615120
75%        1047.195500
max        1935.757000
Name: energydeposition, dtype: float64

In [13]:
df.head()

,eventnumber,energydeposition,pedetected,slice0,slice1,slice2,slice3,slice4,slice5,slice6,...,slice62,slice63,slice64,slice65,slice66,slice67,slice68,slice69,slice70,slice71
0,1,0.000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0.000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0.000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0.000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,373.682,12,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
#TODO: iterrows, for each row pick min max index of active slice (#ops > 0)
#then, compute difference between the min of minimums, and max of maximum
np.nonzero([df.iloc[0, 3:]])[1][0]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [34]:
df.iloc[4, 46]

0