## CJ Geometry
In this notebook, we aim to explore the CJ geometry and understand where the argon volume ends.

In [3]:
import pandas as pd
import os
import matplotlib.pyplot as plt

fields = ["PID", "x", "y", "z", "time"]
filepath = os.path.join("..", "Data", "output123456789.csv")
df = pd.read_csv(filepath, index_col=False)[fields]
df.describe()

                PID              x              y              z          time
count  3.332620e+05  333262.000000  333262.000000  333262.000000  3.332620e+05
mean   2.385955e+06     -88.576490     131.190801     203.040828  9.964905e+14
std    4.879223e+07    1023.786801     977.521887    1159.309405  1.613200e+17
min   -1.200000e+01   -1950.000000   -1950.000000   -1950.000000  5.350400e+01
25%    1.100000e+01   -1101.880000    -615.610500    -809.701000  5.630130e+01
50%    1.100000e+01     -78.248900     212.511000     295.779000  5.950150e+01
75%    2.200000e+01     785.554000     821.224000    1257.430000  6.316980e+01
max    1.000190e+09    1942.800000    1949.960000    1950.000000  3.118410e+19

# Observations:
- the axis ranges in [-1950, +1950] mm, then the LAr volume is **1.95x1.95x1.95 m**
- then, the **thickness** of the LAr bulk is **0.05 m**